.ui.container {
	margin-top: 10px;
}

.logo-wrapper {
	min-width: 7rem;
}
img.logo {
	height: 3.5rem;
	position: absolute;
	top: -5px;
	left: 0;
}

iframe {
	border: none;
	width: 100%;
	height: 400px;
}

sgt-timer::part(sgt-btn) {
	background-color: rgb(172, 90, 172);
	border: solid 1px;
	border-color: rgb(116, 36, 116);
	border-radius: 0.4rem;
	color: var(--button-color, white);
	padding: 0.8rem
}

sgt-timer::part(sgt-btn-running) {
	background-color: rgb(182, 175, 113);
	border-color: rgb(128, 123, 80);
}
